!!! strict
%html
  %head
    %title evolution
    %link(rel='stylesheet' href='/theme/style.css')
  %body(class=body_classes)
    %div#wrapper
      %div#header
        %span#logo evolution
        = yield :menu
      %div#container-top
      %div#container
        %div#primary
          = yield :messages
          = yield
      %div#container-bottom
  = yield :javascripts